.Wrapper {
display:flex;
flex-direction: column;
width:220px;
background-color: aquamarine;
}

#main-navigation ul{
  list-style: none;
}

#main-navigation ul li.dropdown:after {
  content: "";
  border: 4px solid;
  border-color: #fff transparent transparent;
  position: absolute;
  right: 0px;
  top: 22px;
}



